body {}

.header-container {

    background-image: url('../images/Banner\ Image.png');
    /* width: 1320px; */
    height: 600px;
    border-radius: 16px;
    background-position-x: center;
    background-repeat: no-repeat;
}

.banner {
    /* padding: 177px 344px; */
    font-family: 'Merriweather', serif;

}

.banner-title {
    padding-top: 177px;
    color: blue;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}

.banner-topic {
    /* padding-top: 5px; */
    padding-bottom: 177px;
    color: blue;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    /* 131.944% */
}

.offer {
    font-family: 'Inter', sans-serif;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.offer-title {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.offer-category {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.offer-pic {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;

}